
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <style>

    #blogpost{
        width: 600px;
        height: 160px;
        border: 1px solid #6a85e8;
        border-radius: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .jumbotron{
        background-color: #6a85e8;
    }
    .jumbotron{
        background-image: url("img/background_image.jpg");
        background-position: center;
        height: 30em;


    }
    </style>
</head>

<body>



    <main role="main" >

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container" style="margin-bottom:1em">
            <h1 class="display-3" style="text-align:center;color:black;margin-top: 1em;">Search Results</h1>
            <h2 class="display-5" style="text-align:center;color:black;">Advanced Search</h2><br><br>
            <form method="POST" action="" class="form-inline " style='text-align:center;'>
                <input class="form-control" type="text" name="pubYear" placeholder="Publication Year" aria-label="Search" >
                <input class="form-control" type="text" name="author"placeholder="Author" aria-label="Search">
                <input class="form-control" type="text" name="title"placeholder="Title" aria-label="Search">
               <div style="padding-right:17em"></div> <button class="btn btn-default" style="right:50px" method="POST" type="submit">Search</button>
            </form>
            <br>
            <br>
        </div>
        <br>
    </div>

    <p style="padding-left: 97em"> Sort by: </p>

     <div></div> <button class="btn btn-default" style="float:right" type="submit">Category</button>
     <div></div> <button class="btn btn-default" style="float:right" type="submit">Category</button>
     <div></div> <button class="btn btn-default" style="float:right" type="submit">Category</button>


    <!--
    {{#each article}}
    <div id = blogpost >
    <h3> {{this.Title}} <h3>
    <italic>{{this.Author}}</italic>

    {{this.Description}}


    </div>
    {{/each}}
    -->


</main>


</body>
</html>