
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    body{
    	background-image: url("http://isharonline.org/sites/default/files/resize/ml_spirit_bluebrain_1212_web-512x512.jpg");

    }

    </style>
 </head>


 <body>
 <div id = "bg">
 <h1 style="text-align: center;">Consciousness</h1>

 </body>




 </html>

