
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Contact</title>

</head>

<body>



<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" style="text-align:center;">Contact Info</h1>

        </div>

        <h3>Board of Supervisors</h3>
        <h5>
            ISHAR Supervisors are volunteers who are responsible for vetting summary content on the ISHAR digital
            library according to the rules of curation. We rely on this collection of experts in diverse fields to
            help critically analyze ISHAR’s presentation of materials and establish a reliable scope of service.
            They are encouraged to examine the content we present and act as a check on unconscious editorial bias.
            Our Board of Supervisors includes:

            <li>Paul Mills, PhD, Professor in Residence, UCSD</li>
            <li>Shiva Ayyadurai, PhD MIT, Systems Engineer</li>
            <li>William Bushell, PhD, Director of Research at Tibet HouseUS/The Menla Center, Medical Anthropology, MIT</li>
            <li>Robert Thurman, PhD, President and Founder, Tibet House</li>
            <li>Dean Ornish, MD, President and Founder, Preventive Medicine Research Institute</li>
            <li>Menas Kafatos, PhD, Schmid College of Science and Technology. Physics, Computational Science and Engineering, School of Computational Sciences</li>
            <li>Lisa Miller, PhD,  Professor and Director of Clinical Psychology Director, Spirituality and Mind-Body Institute. Columbia University, Teachers College</li>
            <li>Marilyn Schlitz, Fellow and President Emeritus, Institute of Noetic Sciences,  Senior Scientist at California Pacific Medical Center Research Institute.</li>
            <li>Dr. Robert Schwarz, PhD, Association for Comprehensive Energy Psychology</li>
            <li>Daniel Vicario, MD, Medical Director, San Diego Cancer Research Institute. Director, Integrative Oncology Program.</li>
            <li>Julia Mossbridge, PhD, Research Associate, Department of Psychology, Northwestern University and Inventor of Choice Compass.</li>
            <li>Dr. Anirban Bandyopadhyay, PhD, Senior Researcher, NIMS, Adjunct Asst. Professor Michigan Technological University, Advanced Scanning Probe Microscopy group, Advanced Nano Characterisation Center (ANCC), Massachusetts Institute of Technology Institute of Medical and Engineering Science.</li>
            <li>Subhash Kak, Regents Professor, Department of Computer Science Oklahoma State University</li>
            <li>Dr. Jack Sarfatti, PhD,  Theoretical physicist</li>
            <li>Neil D. Theise, MD, Professor of Pathology and of Medicine at the Beth Israel Medical Center of Albert Einstein College of Medicine.</li>
            <li>Allan Leslie Combs, PhD, Doshi Professor of Consciousness Studies. Director of The Center for Consciousness Studies at the California Institute of Integral Studies. He is also the President of the Society for Consciousness Studies and Director of Consciousness Studies master’s degree program at the Graduate Institute of Connecticut. Professor Emeritus at the University of North Carolina-Asheville</li>
            <li>Dr. Jeffrey Martin, Center for the Study of Non Symbolic Consciousness</li>
            <li>Shamini Jain, PhD,   Assistant Professor, Psychiatry, UC San Diego; Chair, Research Development Committee, UC San Diego Center for Integrative Medicine</li>
            <li>Meg Jordan, PhD, RN Clinical Medical Anthropologist, Chair and Professor, Integrative Health Studies, California Institute of Integral Studies</li>
            <li>Francois Demange, MA Anthropology,  Indigenous Medicine</li>
            <li>Digna Faviola Camacho, Neuromuscular Therapist, CMT</li>
            <li>James Fallon, PhD, Professor of Psychiatry and Neurobiology, UC Irvine</li>
            <li>Dr. Esther Konigsberg, MD, CCFP Consortium of Academic Health Centers for Integrative Medicine</li>
            <li>Kelly Jennings, ND, MSOM, LAc, Naturopathic Physician, Licensed Acupuncturist, Co-Collaborator: The Breast Cancer Companion</li>
        </h5>

        <br>

        <h3>Board of Advisors</h3>
        <h5>
            ISHAR Advisors are critically important supporters, whose ongoing efforts in establishing, promoting and
            improving ISHAR have made this library possible.  Advisors fulfill a role equally as vital as Supervisors,
            often in very diverse, active ways.

            <li>Deepak Chopra, MD,  ISHAR Founder</li>
            <li>Denise Lewis Premschak, Founder, Field Guide, LLC; Director, Voice for HOPE-Healers of Planet Earth;
                past CEO & Managing Editor of ISSSEEM</li>
            <li>Camille Leon, Founder & Executive Director of the Holistic Chamber of Commerce, Executive Advisor to
                Voice for HOPE</li>
        </h5>

        <h3>ISHAR Honorarium</h3>
        <h5>
            These individuals have generously donated toward making ISHAR a reality, and we are tremendously
            grateful to all of them!
        </h5>

    </div>
</main>


</body>
</html>