
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Contact</title>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a href = "\">  <img src = "/img/logo.png" id = "logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="IntHealth">Integrated Health</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Contact">Contact</a>
            </li>
        </ul>




        <form class="form-inline my-2 my-lg-0"  >
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="nav-link" href="#" style="left: 600px;">Login</a>
    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" style="text-align:center;">Contact Info</h1>
            <img id="header" src="/img/about1.jpg">

        </div>




    </div>
</main>
<footer class="container">
    <p>&copy; ISHAR is a program of ISHAR LLC, which is a Chopra Foundation Initiative and a 501(c)(3) nonprofit public charity.</p>
</footer>


</body>
</html>