
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <style>

    #blogpost{
        width: 960px;
        height: 200px;
        border: 1px solid #6a85e8;
        border-radius: 25px;
        text-align: center;
        margin: 0 auto;
    }
    .jumbotron{
        background-color: #6a85e8;
    }
    .jumbotron{
        background-image: url("img/background_image.jpg");
        background-position: center; 
        font-family: 'Roboto';


    }
    .imgcontainer{
        width: 100px;
        height: 100px;
        background-image: url("img/img2.png");
        margin-left: 1em;
        margin-top: -1em;
        float:left;
        border: 1px solid #003b47;
        border-radius: 5px; 
    }
    .imgcontainer2{
        width: 100px;
        height: 100px;
        background-image: url("img/img1.png");
        margin-left: 1em;
        margin-top: -1em;
        float:left;
        border: 1px solid #003b47;
        border-radius: 5px;
    }  
    .imgcontainer3{
        width: 100px;
        height: 100px;
        background-image: url("img/img3.png");
        margin-left: 1em;
        margin-top: -1em;
        float:left;
        border: 1px solid #003b47;
        border-radius: 5px;
    } 
        .imgcontainer4{
        width: 100px;
        height: 100px;
        background-image: url("img/search.png");
        margin-left: 1em;
        margin-top: -1em;
        float:left;
        border: 1px solid #003b47;
        border-radius: 5px;
    }        
    </style>
</head>

<body>



    <main role="main" >

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container" style="margin-bottom:1em">
            <h1 class="display-3" style="text-align:center;color:black;margin-top: 1em;">ISHAR Online!</h1><br>
            <h2 class="display-5" style="text-align:center;color:black;">Advanced Search</h2><br><br>
            <form method="POST" action="/AdvancedSearch/" class="form-inline " style='text-align:center;'>
                <input class="form-control" type="text" name="pubYear" placeholder="Publication Year" aria-label="Search" >
                <input class="form-control" type="text" name="author"placeholder="Author" aria-label="Search">
                <input class="form-control" type="text" name="title"placeholder="Title" aria-label="Search">
                
                <br>
                <br>
                <br>
               <div style="padding-right:17em"></div> <button class="btn btn-default" style="right:50px" method="POST" type="submit">Search</button>
            </form>
            <br>
            <br>
        </div>
        <br>
    </div>
    <div id = "filter">
    <p style="padding-left: 97em"> Sort by: </p>

     <form action=""><div></div> <button class="btn btn-default" style="float:right" type="submit">Date</button></form>
     <div></div> <button class="btn btn-default" style="float:right" type="submit">Title</button>
     <div></div> <button class="btn btn-default" style="float:right" type="submit">Desc.</button>
     </div>
    
    {{#each article}}
    <div id = "blogpost">
    <h4 style="color:#003b47;border-bottom: thin solid #003b47;"> {{this.Title}} </h4> <i style="font-size: 10px;float:right;padding-right: 1em;"> {{this.Author}}</i>
    <br>
    <br>
    <div class = "imgcontainer4"> </div>
    <p style="padding-left: 1em;padding-top: .5em"> {{this.Description}}</p>
    </div>
    <br>
    {{/each}}



</main>


</body>
</html>