
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <style>

    #blogpost{
        width: 600px;
        height: 200px;
        border: 1px solid #4CAF50;
        border-radius: 25px;
        text-align: center;
        margin: 0 auto;
    }
    </style>
</head>

<body>



    <main role="main" >

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" style="text-align:center;">Hello, world!</h1><br>
            <h2 class="display-5" style="text-align:center;">Advanced Search</h2><br><br>
            <form class="form-inline " style='text-align:center;'>
                <input class="form-control" type="text" placeholder="Publication Year" aria-label="Search" >
                <input class="form-control" type="text" placeholder="Author" aria-label="Search">
                <input class="form-control" type="text" placeholder="Title" aria-label="Search">
                
                <br>
                <br>
                <br>
               <div style="padding-right:17em"></div> <button class="btn btn-outline-success my-2 my-sm-0" style="right:50px" type="submit">Search</button>
            </form>
            <br>
            <br>
        </div>
        <br>
    </div>
    <div id = "blogpost">
    <h4> Title </h4> <i style="font-size: 11px;"> By Nil Patel </i>
    </div>
    <!--
    {{#each article}}
    <div id = blogpost >
    <h3> {{this.Title}} <h3>
    <italic>{{this.Author}}</italic>

    {{this.Description}}


    </div>
    {{/each}}
    -->


</main>


</body>
</html>