
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Int Health</title>

</head>

<body>



<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" style="text-align:center;">Integrated Health</h1>

            <a class='nav-link' href="/">Aromatherapy</a>
            <br>
            <a class='nav-link' href="/">Ayurveda</a>
            <br>
            <a class='nav-link' href="/">Biofield</a>
            <br>
            <a class='nav-link' href="/">Chinese Practices</a>
            <br>
            <a class='nav-link' href="/">Chiropractic</a>
            <br>
            <a class='nav-link' href="/">Dietary</a>
            <br>
            <a class='nav-link' href="/">Earthing</a>
            <br>
            <a class='nav-link' href="/">Faith-based</a>
            <br>
            <a class='nav-link' href="/">Folk Medicine</a>
            <br>
            <a class='nav-link' href="/">Health Trends</a>
            <br>
            <a class='nav-link' href="/">Homeopathy</a>
            <br>
            <a class='nav-link' href="/">Hypnosis</a>
            <br>
            <a class='nav-link' href="/">Institutional Integrative Health</a>
            <br>
            <a class='nav-link' href="/">Massage Therapy</a>
            <br>
            <a class='nav-link' href="/">Medical Marijuana</a>
            <br>
            <a class='nav-link' href="/">Meditation</a>
            <br>
            <a class='nav-link' href="/">Naturopathy</a>
            <br>
            <a class='nav-link' href="/">NCCAM Studies</a>
            <br>
            <a class='nav-link' href="/">Yoga</a>
            <br>

        </div>




    </div>
</main>


</body>
</html>