
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    .jumbotron{
    }
    #wrapper{
    	background-color: #e0e0e0;
    }
    </style>

    <title>Int Health</title>

</head>

<body>


<div id ="maincontainer">
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" style="text-align:center;color:#a6c4ed;">Journal Portal</h1>
            <div style="margin-left: 1em;">
            <a href="/">Acupuncture and Electro-Therapeutics Research</a><br>
            <a href="/">Acupuncture in Medicine</a><br>
            <a href="/">Advances in Mind-Body Medicine</a><br>
            <a href="/">African Journal of Traditional, Complementary and Alternative Medicines</a><br>
            <a href="/">Alternative and Complementary Therapies</a><br>
            <a href="/">Alternative Medicine Review</a><br>
            <a href="/">Alternative Therapies in Health and Medicine</a><br>
            <a href="/">Altex - Alternatives to Animal Experimentation</a><br>
            <a href="/">American Journal of Acupuncture</a><br>
            <a href="/">American Journal of Chinese Medicine</a><br>
            <a href="/">American Journal of Clinical Hypnosis</a><br>
            <a href="/">American Journal of Health Promotion</a><br>
            <a href="/">American Journal of Homeopathic Medicine</a><br>
            <a href="/">American Journal of Hospice and Palliative Care</a><br>
            <a href="/">American Journal of Public Health</a><br>
            <a href="/">Asian Medicine - Tradition and Modernity</a><br>
            <a href="/">Australian Journal of Acupuncture and Chinese Medicine</a><br>
            <a href="/">Australian Journal of Clinical and Experimental Hypnosis</a><br>
            <a href="/">BMC Complementary and Alternative Medicine</a><br>
            <a href="/">BMC Health Services Research</a><br>
            <a href="/">BMC Medicine</a><br>
            <a href="/">California Journal of Oriental Medicine</a><br>
            <a href="/">Canadian Journal of Herbalism, The</a><br>
            <a href="/">China's Naturopathy</a><br>
            <a href="/">Chinese Medical Sciences</a><br>
            <a href="/">Chiropractic and Osteopathy</a><br>
            <a href="/">Complementary Health Practice Review</a><br>
            <a href="/">Complementary Therapies in Clinical Practice</a><br>
            <a href="/">Complementary Therapies in Medicine</a><br>
            <a href="/">Contemporary Hypnosis</a><br>
            <a href="/">Dynamic Medicine</a><br>
            <a href="/">European Journal of Clinical Hypnosis</a><br>
            <a href="/">European Journal of Oriental Medicine</a><br>
            <a href="/">Evidence-based Complementary and Alternative Medicine</a><br>
            <a href="/">Explore - The Journal of Science and Healing</a><br>
            <a href="/">FACT (Focus on Alternative and Complementary Therapies)</a><br>
            <a href="/">Fitoterapia</a><br>
            <a href="/">FootPrints</a><br>
            <a href="/">Free Radical Biology and Medicine</a><br>
            <a href="/">Free Radical Research</a><br>
            <a href="/">Health and Social Work</a><br>
            <a href="/">Health Care for Women International</a><br>
            <a href="/">Health Education</a><br>
            <a href="/">Health Marketing Quarterly</a><br>
            <a href="/">Health Technology Assessment</a><br>
            <a href="/">Health: An Interdisciplinary Journal for the Social Study of Health, Illness and Medicine</a><br>
            <a href="/">Holistic Nursing Practice</a><br>
            <a href="/">Home Health Care Services Quarterly</a><br>
            <a href="/">Homeopathic Links</a><br>
            <a href="/">Homeopathy</a><br>
            <a href="/">Integrative Cancer Therapies</a><br>
            <a href="/">Integrative Medicine Insights</a><br>
            <a href="/">International Journal of Behavioral Nutrition and Physical Activity</a><br>
            <a href="/">International Journal of Clinical and Experimental Hypnosis</a><br>
            <a href="/">International Journal of Clinical Aromatherapy</a><br>
            <a href="/">International Journal of Medicinal Mushrooms</a><br>
            <a href="/">International Journal of Osteopathic Medicine</a><br>
            <a href="/">Internet Journal of Allied Health Sciences and Practice</a><br>
            <a href="/">Internet Journal of Law, Healthcare and Ethics, The</a><br>
            <a href="/">Journal of Alternative and Complementary Medicine, The</a><br>
            <a href="/">Journal of Anhui Traditional Chinese Medical College</a><br>
            <a href="/">Journal of Beijing University of Traditional Chinese Medicine (Clinical Medicine)</a><br>
            <a href="/">Journal of Bodywork and Movement Therapies</a><br>
            <a href="/">Journal of Chengdu University of Traditional Chinese Medicine</a><br>
            <a href="/">Journal of Chinese Medicine</a><br>
            <a href="/">Journal of Chiropractic Education</a><br>
            <a href="/">Journal of Circadian Rhythms</a><br>
            <a href="/">Journal of Complementary and Integrative Medicine</a><br>
            <a href="/">Journal of Complementary Medicine</a><br>
            <a href="/">Journal of Dietary Supplements</a><br>
            <a href="/">Journal of Epidemiology and Community Health</a><br>
            <a href="/">Journal of Ethnopharmacology</a><br>
            <a href="/">Journal of Gansu College of Traditional Chinese Medicine</a><br>
            <a href="/">Journal of Guiyang College of Traditional Chinese Medicine</a><br>
            <a href="/">Journal of Health and Social Policy</a><br>
            <a href="/">Journal of Health Care Chaplaincy</a><br>
            <a href="/">Journal of Hebei Traditional Chinese Medicine and Pharmacology</a><br>
            <a href="/">Journal of Herbal Pharmacotherapy</a><br>
            <a href="/">Journal of Herbs, Spices and Medicinal Plants</a><br>
            <a href="/">Journal of Interprofessional Care</a><br>
            <a href="/">Journal of Manipulative and Physiological Therapeutics</a><br>
            <a href="/">Journal of Medicinal Food</a><br>
            <a href="/">Journal of Medicinal Plant Research</a><br>
            <a href="/">Journal of Nanjing University of Traditional Chinese Medicine (Natural Science)</a><br>
            <a href="/">Journal of Shandong University of Traditional Chinese Medicine</a><br>
            <a href="/">Journal of the Australian Traditional-Medicine Society</a><br>
            <a href="/">Journal of the Society for Integrative Oncology</a><br>
            <a href="/">Journal of Tianjin College of Traditional Chinese Medicine</a><br>
            <a href="/">Journal of Traditional Chinese Medicine</a><br>
            <a href="/">Learning in Health and Social Care</a><br>
            <a href="/">Manual Therapy</a><br>
            <a href="/">Medical Acupuncture</a><br>
            <a href="/">Medical Acupuncture Online Journal</a><br>
            <a href="/">Midwifery</a><br>
            <a href="/">Nordic Journal of Music Therapy</a><br>
            <a href="/">North American Journal of Oriental Medicine</a><br>
            <a href="/">Paediatrics and Child Health</a><br>
            <a href="/">Phytomedicine</a><br>
            <a href="/">Phytotherapy Research</a><br>
            <a href="/">Research in Complementary Medicine</a><br>
            <a href="/">Research Journal of Medicinal Plant</a><br>
            <a href="/">Revista Cubana de Plantas Medicinales</a><br>
            <a href="/">Sciences of Traditional Chinese Medicine</a><br>
            <a href="/">Seminars in Preventive and Alternative Medicine</a><br>
            <a href="/">Stress and Health</a><br>
            <a href="/">TSW Holistic Health and Medicine</a><br>
            <a href="/">Value in Health</a><br>
            <a href="/">Well Being Journal Online</a><br>
            <a href="/">WHO Drug Information</a><br>
            <a href="/">World Journal of Acupuncture and Moxibustion</a><br>

            </div>
        </div>




    </div>
</main>

</div>


</body>
</html>