<!DOCTYPE html>
<head>
    <title>Ishar Online</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>
<div id="wrapper">
    <h1 id="title">Ishar Online</h1>
    <img id="colorConverter" src="/img/colorConverter.png" alt="Active">
    {{{body}}}
    <p id="navbar">
        Go to the <a href="../about">about</a> page,
        view the <a href="../colors"> color palette</a>.
    <p>
</div>
</body>
</head>
</html>