
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    .jumbotron{
    	background-color: #a6c4ed;
    }
    #wrapper{
    	background-color: #e0e0e0;
    }
    </style>

    <title>Int Health</title>

</head>

<body>


<div id ="maincontainer">
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" style="text-align:center;">Integrative Studies General Library</h1>
            <div style="margin-left: 1em;">
            <a href="/">Acupuncture</a>
            <br>
            <a href="/">Aromatherapy</a>
            <br>
            <a href="/">Ayurveda</a>
            <br>
            <a href="/">Biofield</a>
            <br>
            <a href="/">Chinese Practices</a>
            <br>
            <a href="/">Chiropractic</a>
            <br>
            <a href="/">Dietary</a>
            <br>
            <a href="/">Earthing</a>
            <br>
            <a href="/">Faith-based</a>
            <br>
            <a href="/">Folk Medicine</a>
            <br>
            <a href="/">Health Trends</a>
            <br>
            <a href="/">Homeopathy</a>
            <br>
            <a href="/">Hypnosis</a>
            <br>
            <a href="/">Institutional Integrative Health</a>
            <br>
            <a href="/">Massage Therapy</a>
            <br>
            <a href="/">Medical Marijuana</a>
            <br>
            <a href="/">Meditation</a>
            <br>
            <a href="/">Naturopathy</a>
            <br>
            <a href="/">NCCAM Studies</a>
            <br>
            <a href="/">Yoga</a>
            <br>
            </div>
        </div>




    </div>
</main>

</div>


</body>
</html>