
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


 </head>

<body>

		<h3> Have an Account? Enter Credentials. </h3>
		<form action='#'>
     <div></div> <button class="btn btn-default" style="float:right" type="text">Username</button>
     <div></div> <button class="btn btn-default" style="float:right" type="text">Password</button>
     </form>


		<h3> Want to Register? Fill out this form. </h3>
		<form action='#'>
     <div></div> <button class="btn btn-default" style="float:right" type="submit">Username</button>
     <div></div> <button class="btn btn-default" style="float:right" type="submit">Password</button>
     </form>

</body>



 </html>